<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planetário de Brasília</title>
</head>
<body>
    <h1>História do Planetário</h1>

    <p>
        🌌 O Planetário de Brasília celebra 51 anos com 
        programação especial! 🚀✨ No dia 15 de março (sábado), 
        das 09h às 17h30, o Planetário de Brasília abre suas portas 
        para uma experiência imersiva e gratuita, cheia de ciência, 
        tecnologia e diversão para todas as idades! 🪐 O que te espera?
    </p>
</body>
</html>
